In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/indian-census-data-with-geospatial-indexing/district wise centroids.csv
/kaggle/input/indian-census-data-with-geospatial-indexing/district wise population for year 2001 and 2011.csv
/kaggle/input/indian-census-data-with-geospatial-indexing/state wise centroids_2011.csv
/kaggle/input/indian-census-data-with-geospatial-indexing/state wise centroids_2001.csv
/kaggle/input/indian-census-data-with-geospatial-indexing/district wise population and centroids.csv
/kaggle/input/india-census/india-districts-census-2011.csv
/kaggle/input/india-census/india_census_housing-hlpca-full.csv
/kaggle/input/india-census/hlpca-colnames.csv

In [2]:
latlong = pd.read_csv('/kaggle/input/indian-census-data-with-geospatial-indexing/district wise centroids.csv')

*Number of districts*

In [3]:
#594 districts
latlong.shape

(594, 4)

In [4]:
latlong.head()

                 State         District   Latitude  Longitude
0  Andaman and Nicobar  Andaman Islands  12.382571  92.822911
1  Andaman and Nicobar  Nicobar Islands   7.835291  93.511601
2       Andhra Pradesh         Adilabad  19.284514  78.813212
3       Andhra Pradesh        Anantapur  14.312066  77.460158
4       Andhra Pradesh         Chittoor  13.331093  78.927639

In [5]:
latlong.tail()

           State           District   Latitude  Longitude
589  West Bengal  North 24 Parganas  22.062388  88.877940
590  West Bengal           Puruliya  23.254192  86.396853
591  West Bengal  South 24 Parganas  21.854428  88.445370
592  West Bengal     Uttar Dinajpur  26.044619  88.235952
593  West Bengal     West Midnapore  22.354897  87.231014

In [6]:
latlong.isnull().sum()

State        0
District     0
Latitude     0
Longitude    0
dtype: int64

In [7]:
latlong.duplicated().sum()

0

In [8]:
census = pd.read_csv('/kaggle/input/india-census/india-districts-census-2011.csv')

In [9]:
census

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,2316,4309,1370,838,2208,576,978,1554,1446,10027
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,1063,2408,665,340,1005,246,483,729,341,4890
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,685,1895,212,134,346,70,120,190,84,3151
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,43186,35497,0,...,685,1895,212,134,346,70,120,190,84,3151
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,1371,3020,649,368,1017,265,497,762,376,5782

In [10]:
cols = ['District code', 'Population', 'District name' , 'Male_Literate', 'Female_Literate','Male','Female', 'Literate', 'Households_with_Internet', 'Housholds_with_Electric_Lighting']

In [11]:
census[cols]

,District code,Population,District name,Male_Literate,Female_Literate,Male,Female,Literate,Households_with_Internet,Housholds_with_Electric_Lighting
0,1,870354,Kupwara,282823,156831,474190,396164,439654,762,83071
1,2,753745,Badgam,207741,127908,398041,355704,335649,1999,90190
2,3,133487,Leh(Ladakh),62834,30936,78971,54516,93770,574,17250
3,4,140802,Kargil,56301,29935,77785,63017,86236,235,15824
4,5,476835,Punch,163333,98391,251899,224936,261724,346,62900
...,...,...,...,...,...,...,...,...,...,...
635,636,41816,Mahe,16610,19860,19143,22673,36470,574,7150
636,637,200222,Karaikal,79903,75013,97809,102413,154916,1868,47880
637,638,36842,Nicobars,15397,9935,20727,16115,25332,57,9301
638,639,105597,North AND Middle Andaman,43186,35497,54861,50736,78683,388,18641
639,640,238142,South Andaman,105794,84472,127283,110859,190266,2789,52479

In [12]:
final = latlong.merge(census, left_on ='District', right_on = 'District name').drop(columns = ['District name'])

In [13]:
final

,State,District,Latitude,Longitude,District code,State name,Population,Male,Female,Literate,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,ANDHRA PRADESH,2741239,1369597,1371642,1483347,...,1266,2870,84,122,206,134,213,347,109,4181
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,ANDHRA PRADESH,4081148,2064495,2016653,2310960,...,1605,3857,143,150,293,176,261,437,243,5799
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,ANDHRA PRADESH,4174064,2090204,2083860,2667878,...,1565,3835,261,125,386,157,218,375,307,5926
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,ANDHRA PRADESH,5154296,2569688,2584608,3288577,...,1949,4814,189,164,353,195,286,481,290,7211
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,ANDHRA PRADESH,4887813,2440521,2447292,2960441,...,1953,4610,196,188,384,222,328,550,317,6981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,WEST BENGAL,3988845,2051541,1937304,2086432,...,833,2597,283,95,378,63,121,184,86,4191
513,West Bengal,Murshidabad,24.259507,88.168169,333,WEST BENGAL,7103807,3627564,3476243,4055834,...,1663,4762,597,268,865,220,441,661,153,8088
514,West Bengal,Nadia,23.564110,88.582930,336,WEST BENGAL,5167600,2653768,2513832,3480555,...,1520,3949,675,321,996,237,466,703,240,7048
515,West Bengal,Puruliya,23.254192,86.396853,340,WEST BENGAL,2930115,1496996,1433119,1624905,...,670,2002,313,90,403,65,127,192,71,3309
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,WEST BENGAL,3007134,1551066,1456068,1489667,...,641,1947,220,79,299,79,159,238,20,3214

In [14]:
final['sex_ratio'] = round((final['Female']/final['Male'])*100)

In [15]:
final['literacy_rate'] = round((final['Literate']/final['Population'])*100)

In [16]:
final.drop(columns = ['Male', 'Female', 'Literate'], inplace = True)

In [17]:
final.to_csv('India.csv', index = False)

ROUGH WORK

In [18]:
list_of_states = list(final['State'].unique())

In [19]:
list_of_states.insert(0, 'Overall India')

In [20]:
final

,State,District,Latitude,Longitude,District code,State name,Population,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity,sex_ratio,literacy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,ANDHRA PRADESH,2741239,856350,626997,488596,...,84,122,206,134,213,347,109,4181,100.0,54.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,ANDHRA PRADESH,4081148,1338474,972486,583135,...,143,150,293,176,261,437,243,5799,98.0,57.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,ANDHRA PRADESH,4174064,1484794,1183084,785760,...,261,125,386,157,218,375,307,5926,100.0,64.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,ANDHRA PRADESH,5154296,1716933,1571644,945269,...,189,164,353,195,286,481,290,7211,101.0,64.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,ANDHRA PRADESH,4887813,1634726,1325715,957407,...,196,188,384,222,328,550,317,6981,100.0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,WEST BENGAL,3988845,1152019,934413,835430,...,283,95,378,63,121,184,86,4191,94.0,52.0
513,West Bengal,Murshidabad,24.259507,88.168169,333,WEST BENGAL,7103807,2177187,1878647,897534,...,597,268,865,220,441,661,153,8088,96.0,57.0
514,West Bengal,Nadia,23.564110,88.582930,336,WEST BENGAL,5167600,1878866,1601689,1546917,...,675,321,996,237,466,703,240,7048,95.0,67.0
515,West Bengal,Puruliya,23.254192,86.396853,340,WEST BENGAL,2930115,1002058,622847,567767,...,313,90,403,65,127,192,71,3309,96.0,55.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,WEST BENGAL,3007134,853495,636172,807950,...,220,79,299,79,159,238,20,3214,94.0,50.0

In [21]:
import plotly.express as px

In [22]:
final.columns[5:]

Index(['State name', 'Population', 'Male_Literate', 'Female_Literate', 'SC',
       'Male_SC', 'Female_SC', 'ST', 'Male_ST', 'Female_ST',
       ...
       'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000',
       'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000',
       'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000',
       'Power_Parity_Above_Rs_545000', 'Total_Power_Parity', 'sex_ratio',
       'literacy_rate'],
      dtype='object', length=115)

In [23]:
final.columns[3:]

Index(['Longitude', 'District code', 'State name', 'Population',
       'Male_Literate', 'Female_Literate', 'SC', 'Male_SC', 'Female_SC', 'ST',
       ...
       'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000',
       'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000',
       'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000',
       'Power_Parity_Above_Rs_545000', 'Total_Power_Parity', 'sex_ratio',
       'literacy_rate'],
      dtype='object', length=117)

In [24]:
df = px.data.carshare()
fig = px.scatter_mapbox(final, lat = 'Latitude', lon = 'Longitude', zoom = 3, mapbox_style = 'carto-positron')
fig.show()

: